<!--  カレンダー用js -->
<script src='https://school.oohara.jp/rtakagi/js/moment.min.js'></script>
<script src="https://school.oohara.jp/rtakagi/js/fullcalendar.min.js"></script>
<script src="https://school.oohara.jp/rtakagi/js/locale-all.js"></script>
<link rel="stylesheet" href="https://school.oohara.jp/rtakagi/js/fullcalendar.min.css" type="text/css"/>


<span id="star"></span>

<%= render 'header' %>

<div class="container">
  <div class="top-wrapper">
    <div class="result">
      <h1 class="section-title">今月の収支</h1>
      <table border="1">
        <tr>
          <th>収入</th>
          <td class="blue"><%= @syunyu %>円</td>
        </tr>
        <tr>
          <th>支出 </th>
          <td class="red"><%= @shisyutu %>円</td>
        </tr>
        <tr>
          <th>収支</th>
          <td><%= @syushi %>円</td>
        </tr>
      </table>
    </div>
    
    <div class="quick-entry">
      <h1 class="section-title">入出金クイック入力</h1>
      <%= form_with model: @post, local: true do |f| %>
        <div class="field">
					<%= f.label :date, '日付' %>
					<span class="today" id="today"></span> <img class="cal1" src="/assets/cal.png" width=20px><br>
					<%= f.hidden_field :date, id: "post-date" %>
        </div>

        <div class="field">
					<%= f.label :category1, '項目' %>
					<%= f.hidden_field :category1, id: "category1" %>
					<%= f.hidden_field :category2, id: "category2" %>
            <ul class="menu">
              <li><a id="menuA">未選択 <i class="fas fa-caret-down"></i></a>
                <ul class="sub">
                  <li><a>生活費 <i class="fas fa-caret-right"></i></a>
                    <ul class="sub">
                      <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('食費');$('#category1').val('1');$('#category2').val('1');">食費</a></li>
                      <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('日用品');$('#category1').val('1');$('#category2').val('2');">日用品</a></li>
                      <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('衣服・美容費');$('#category1').val('1');$('#category2').val('3');">衣服・美容費</a></li>
                      <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('娯楽費');$('#category1').val('1');$('#category2').val('4');">娯楽費</a></li>
                      <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('交通費');$('#category1').val('1');$('#category2').val('5');">交通費</a></li>
                      <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('教養費');$('#category1').val('1');$('#category2').val('6');">教養費</a></li>
                      <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('医療費');$('#category1').val('1');$('#category2').val('7');">医療費</a></li>
                      <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('交際費');$('#category1').val('1');$('#category2').val('8');">交際費</a></li>
                      <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('その他');$('#category1').val('1');$('#category2').val('9');">その他</a></li>
                    </ul>
                    </li>
                  <li><a>特別支出 <i class="fas fa-caret-right"></i></a>
                    <ul class="sub">
                      <li><a onclick="$('#menuA').html('特別支出');$('#menuB').html('特別支出');$('#category1').val('2');$('#category2').val('10');">特別支出</a></li>
                    </ul>
                    </li>
                  <li><a>固定費 <i class="fas fa-caret-right"></i></a>
                    <ul class="sub">
                      <li><a onclick="$('#menuA').html('固定費');$('#menuB').html('住居費');$('#category1').val('3');$('#category2').val('11');">住居費</a></li>
                      <li><a onclick="$('#menuA').html('固定費');$('#menuB').html('電気代');$('#category1').val('3');$('#category2').val('12');">電気代</a></li>
                      <li><a onclick="$('#menuA').html('固定費');$('#menuB').html('ガス代');$('#category1').val('3');$('#category2').val('13');">ガス代</a></li>
                      <li><a onclick="$('#menuA').html('固定費');$('#menuB').html('水道代');$('#category1').val('3');$('#category2').val('14');">水道代</a></li>
                      <li><a onclick="$('#menuA').html('固定費');$('#menuB').html('通信・電話代');$('#category1').val('3');$('#category2').val('15');">通信・電話代</a></li>
                      <li><a onclick="$('#menuA').html('固定費');$('#menuB').html('携帯電話代');$('#category1').val('3');$('#category2').val('16');">携帯電話代</a></li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li><a id="menuB">未選択</a></li>
            </ul>
        </div>
        <div style="clear:both"></div>

        <div class="field">
					<%= f.label :price, '支出金額' %>
					<%= f.text_field :price %><span> 円</span>
        </div>
        
        <div class="field">
					<%= f.label :article, 'メモ' %>
					<%= f.text_field :article %>
        </div>
        <div class="actions">
					<%= f.submit '登録する' %>
        </div>
      <% end %>
      
    </div>
  </div>

  <%= month_calendar events: @posts do |date, posts| %>
    <%= date.day %><br>
    <% total = 0 %>
    <div style="text-align: center; padding-top: 10px;">
      <% posts.each do |post| 
          if post.category1 == "4"
            total += post.price
          else
            total -= post.price
          end
        end %>

      <%= total %>円
    </div>
  <% end %>
  
</div>


<script>
$('.header-tab li').removeClass("active");
$('.header-tab li').eq(0).addClass("active");


//クイック入力の日付部分
function d() {
    var today = new Date();
    today.setDate(today.getDate());
    var yyyy = today.getFullYear();
    var mm = ("0"+(today.getMonth()+1)).slice(-2);
    var dd = ("0"+today.getDate()).slice(-2);
    document.getElementById("today").innerHTML=yyyy+'年 '+mm+'月'+dd+'日';
    $("#post-date").val(yyyy+'/'+mm+'/'+dd);
}
d();

$(".cal1").gDatePicker({
  //表示形式
  date_format : 'Y年 m月d日',
  //カレンダー開くとき
  onOpen:function(dp){
    return $("#today",dp.parent()).html();
  },
  //カレンダー選択後
  onSelect:function(v,year,month,day,dp){
    $("#today",dp.parent()).html(v);
    $("#post-date").val(year+'/'+month+'/'+day);
  }
});


//クイック入力の項目部分
$("ul.menu li").hover(function(){
    $(">ul:not(:animated)",this).slideDown("fast");
  },function(){
    $(">ul",this).slideUp("fast");
});


//星を降らせる
var hosix=Array(300);
var hosiy=Array(300);
hosix.fill(-1);
hosiy.fill(-1);
var hosicount=0;
var screenx=window.innerWidth;
var screeny=window.innerHeight;
var timer2=setInterval("staranime()",2);

var tmp="";
for(var j=0;j<300;j++){
  tmp+='<div id="s'+j+'"  style="position:fixed;z-index:-1;width:2px;height:2px;background-color:#000"></div>';
}
document.getElementById("star").innerHTML=tmp;

function getRandomInt(max) {
  return Math.floor(Math.random() * Math.floor(max));
}
function staranime(){
  screenx=window.innerWidth;
  screeny=window.innerHeight;
  if(hosicount!=300) hosicount++;
  for(var i=0;i<hosicount;i++){
    if(hosix[i]==-1){
      if(getRandomInt(4)>=2){
        hosix[i]=getRandomInt(screenx);
        hosiy[i]=0;
      }else{
        hosix[i]=0;
        hosiy[i]=getRandomInt(screeny);
      }
    }
    hosix[i]++;
    hosiy[i]++;
    if(hosix[i]>=screenx) hosix[i]=-1;
    if(hosiy[i]>=screeny) hosix[i]=-1;
    $("#s"+i).css("top",hosiy[i]);
    $("#s"+i).css("left",hosix[i]);
   }
}



</script>