<%= render 'header' %>

<div class="container">
<h1 class="month_title"><%= "#{@d.year}年#{@d.month}月" %></h1>
  <!-- 円グラフ -->
  <canvas class="" id="cv2" height="500" width="1140"></canvas>

  <!-- 諸費用テーブル -->
  <div class="month-data">


    <!-- 総収入 -->
    <table class="cost-table income-table" border="1">
      <tr>
        <th class="heading-row text-center" colspan="2">総収入</th>
      </tr>
      <tr>
        <th class="text-center">給料</th>
        <td><%= @goukei[:kyuuryou] %>円</td>
      </tr>
      <% 3.times do |i| %>
        <tr>
          <% if @sonota_2s[i] %>
            <th class="text-center"><%= @sonota_2s[i].article %></th>
            <td><%= @sonota_2s[i].price %>円</td>
          <% else %>
            <th></th>
            <td></td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <th class="text-center">合計</th>
        <td><%= @goukei[:kyuuryou] + @goukei[:sonota_2] %>円</td>
      </tr>
    </table>


    <!-- 生活費 -->
    <table class="cost-table" border="1">
      <tr>
        <th class="heading-row text-center" colspan="2">生活費</th>
      </tr>
      <% @category2.slice(0..8).each_with_index do |cate, i| %>
        <tr>
          <th class="text-center"><%= @labels[i] %></th>
          <td><%= @goukei[cate] %>円</td>
        </tr>
      <% end %>
        <th class="text-center">合計</th>
        <td><%= @bigcate_sum[:seikatuhi] %>円</td>
      </tr>
    </table>
    <span>＋</span>


    <!-- 特別支出 -->
    <table class="cost-table" border="1">
      <tr>
        <th class="heading-row text-center" colspan="2">特別支出</th>
      </tr>
      <% 4.times do |i| %>
        <tr>
          <% if @tokubetus[i] %>
            <th class="text-center"><%= @tokubetus[i].article %></th>
            <td><%= @tokubetus[i].price %>円</td>
          <% else %>
            <th></th>
            <td></td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <th class="text-center">合計</th>
        <td><%= @bigcate_sum[:tokubetusisyutu] %>円</td>
      </tr>
    </table>
    <span>＋</span>


    <!-- 固定費 -->
    <table class="cost-table" border="1">
      <tr>
        <th class="heading-row text-center" colspan="2">固定費</th>
      </tr>
      <% @category2.slice(10..15).each_with_index do |cate, i| %>
        <tr>
          <th class="text-center"><%= @labels[i+10] %></th>
          <td><%= @goukei[cate] %>円</td>
        </tr>
      <% end %>
      <tr>
        <th class="text-center">合計</th>
        <td><%= @bigcate_sum[:koteihi] %>円</td>
      </tr>
    </table>
  </div>


  <!-- 今月の収支 -->
  <div class="total-data">
    <span>=</span>
    <table class="cost-table" border="1">
      <tr>
        <th class="heading-row text-center">総支出</th>
      </tr>
      <tr>
        <td><%= @bigcate_sum.values.sum %>円</td>
      </tr>
    </table>
    <div class="total-table">
      <h1><%= @d.month %>月の収支は</h1>
      <div><h2><%= @goukei[:kyuuryou] + @goukei[:sonota_2] - @bigcate_sum.values.sum %>円</h2></div>
    </div>
  </div>
</div>


<script>
  $('.header-tab li').removeClass("active");
  $('.header-tab li').eq(1).addClass("active");

  var ctx = document.getElementById("cv2").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ["食費", "日用品", "衣服・美容費", "娯楽費", "交通費", "教養費", "医療費", "交際費", "その他", "特別支出", "住居費", "電気代", "ガス代", "水道代", "通信・電話代", "携帯電話代"],
      datasets: [{
        backgroundColor: ["blue", "lime", "yellow", "pink", "aqua", "fuchsia", "olive", "navy", "silver", "red", "green", "maroon", "fuchsia", "blue", "purple", "teal"],
        data: <%= @goukei.values.slice(0..15) %>
      }]
    },
    options: {
      responsive: false,
      cutoutPercentage: 40,
      legend: {
        position: 'bottom',
        labels: {
          fontSize: 16,
          boxWidth: 55
        }
      }
    }
  });
</script>