<%= render 'header' %>

<div class="overlay"></div>
<div class="new-entry">
  <h1>入出金入力</h1>
  <span class="close-btn"><i class="fas fa-times"></i></span>
  <ul class="tab">
    <li class="pay entry-active"><i class="fas fa-shopping-bag"></i> 支出</li>
    <li class="salary"><i class="fas fa-coins"></i> 収入</li>
  </ul>
  
  
  <%= form_with model: @post, local: true do |f| %>
    <div class="field">
			<%= f.label :date, '日付' %>
			<span class="today" id="today"></span> <img class="cal1" src="https://dl.dropbox.com/s/4sc35kr0xgjuzq7/cal.png?dl=0" width=20px><br>
			<%= f.hidden_field :date, id: "post-date" %>
		</div>

		<div class="field tab-0">
			<%= f.label :category1, '項目' %>
			<%= f.hidden_field :category1, id: "category1" %>
			<%= f.hidden_field :category2, id: "category2" %>
      <ul class="menu">
        <li><a id="menuA">未選択 <i class="fas fa-caret-down"></i></a>
          <ul class="sub">
            <li><a>生活費 <i class="fas fa-caret-right"></i></a>
              <ul class="sub">
                <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('食費');$('#category1').val('1');$('#category2').val('1');">食費</a></li>
                <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('日用品');$('#category1').val('1');$('#category2').val('2');">日用品</a></li>
                <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('衣服・美容費');$('#category1').val('1');$('#category2').val('3');">衣服・美容費</a></li>
                <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('娯楽費');$('#category1').val('1');$('#category2').val('4');">娯楽費</a></li>
                <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('交通費');$('#category1').val('1');$('#category2').val('5');">交通費</a></li>
                <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('教養費');$('#category1').val('1');$('#category2').val('6');">教養費</a></li>
                <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('医療費');$('#category1').val('1');$('#category2').val('7');">医療費</a></li>
                <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('交際費');$('#category1').val('1');$('#category2').val('8');">交際費</a></li>
                <li><a onclick="$('#menuA').html('生活費');$('#menuB').html('その他');$('#category1').val('1');$('#category2').val('9');">その他</a></li>
              </ul>
            </li>
            <li><a>特別支出 <i class="fas fa-caret-right"></i></a>
              <ul class="sub">
                <li><a onclick="$('#menuA').html('特別支出');$('#menuB').html('特別支出');$('#category1').val('2');$('#category2').val('10');">特別支出</a></li>
              </ul>
            </li>
            <li><a>固定費 <i class="fas fa-caret-right"></i></a>
              <ul class="sub">
                <li><a onclick="$('#menuA').html('固定費');$('#menuB').html('住居費');$('#category1').val('3');$('#category2').val('11');">住居費</a></li>
                <li><a onclick="$('#menuA').html('固定費');$('#menuB').html('電気代');$('#category1').val('3');$('#category2').val('12');">電気代</a></li>
                <li><a onclick="$('#menuA').html('固定費');$('#menuB').html('ガス代');$('#category1').val('3');$('#category2').val('13');">ガス代</a></li>
                <li><a onclick="$('#menuA').html('固定費');$('#menuB').html('水道代');$('#category1').val('3');$('#category2').val('14');">水道代</a></li>
                <li><a onclick="$('#menuA').html('固定費');$('#menuB').html('通信・電話代');$('#category1').val('3');$('#category2').val('15');">通信・電話代</a></li>
                <li><a onclick="$('#menuA').html('固定費');$('#menuB').html('携帯電話代');$('#category1').val('3');$('#category2').val('16');">携帯電話代</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a id="menuB">未選択 <i class="fas fa-caret-down"></i></a></li>
      </ul>
    </div>

    <div class="field tab-1 hide">
			<%= f.label :category1, '項目' %>
      <ul class="menu">
        <li><a id="menuC">未選択 <i class="fas fa-caret-down"></i></a>
          <ul class="sub">
            <li><a onclick="$('#menuC').html('給料');$('#category1').val('4');$('#category2').val('17');">給料</a></li>
            <li><a onclick="$('#menuC').html('その他');$('#category1').val('4');$('#category2').val('18');">その他</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div style="clear:both"></div>

    <div class="field tab-change">
			<%= f.label :price, '支出金額', class: "tab-0" %>
			<%= f.label :price, '収入金額', class: "tab-1 hide" %>
			<%= f.text_field :price %><span> 円</span>
		</div>
    
    <div class="field">
			<%= f.label :article, 'メモ' %>
			<%= f.text_field :article %>
    </div>
    <div class="actions">
			<%= f.submit '登録する' %>
    </div>
  <% end %>
  
</div>




<div class="container">
  <div class="event-btn">
    <%= link_to "/posts/note?date=#{@monday - 1}", class: "btn" do %>
      <i class="fas fa-angle-double-left"></i> 前の週へ
    <% end %>
    <a class="btn second-btn"><i class="far fa-edit"></i> 入力</a>
    <span class="btn serch-btn" href="#"><span class="cal2"><i class="fas fa-search"></i> 週を移動</span></span>
    <%= link_to "/posts/note?date=#{@sunday + 1}", class: "btn" do %>
      次の週へ <i class="fas fa-angle-double-right"></i>
    <% end %>
  </div>

  




  <div class="calender">
    <table border="1" width="1140">
      <tr>
        <th class="vertical-row black-cell"><%= @monday.month %>月</th>
        <th class="weekday-cell"><%= @monday.day %>日(月)</th>
        <th class="weekday-cell"><%= @tuesday.day %>日(火)</th>
        <th class="weekday-cell"><%= @wednesday.day %>日(水)</th>
        <th class="weekday-cell"><%= @thursday.day %>日(木)</th>
        <th class="weekday-cell"><%= @friday.day %>日(金)</th>
        <th class="saturday-cell"><%= @saturday.day %>日(土)</th>
        <th class="sunday-cell"><%= @sunday.day %>日(日)</th>
      </tr>
      <tr>
        <th class="vertical-row" rowspan="12">項目</th>
        <% [@mon, @tue, @wed, @thu, @fri, @sat, @sun].each do |date| %>
          <%= render 'link', post: date[0] %>
        <% end %>
      </tr>
      <% 11.times do |index| %>
        <tr>
          <% [@mon, @tue, @wed, @thu, @fri, @sat, @sun].each do |date| %>
            <%= render 'link', post: date[index + 1] %>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <th class="vertical-row black-cell">小計</th>
        <% [@mon, @tue, @wed, @thu, @fri, @sat, @sun].each do |date| %>
          <%= render 'total', posts: date %>
        <% end %>
      </tr>
    </table>
  </div>
</div>


<script>
$('.header-tab li').removeClass("active");
$('.header-tab li').eq(2).addClass("active");

$('.second-btn').click(function(){
  $('.overlay').fadeIn();
  $('.new-entry').fadeIn();
});


$('.close-btn').click(function(){
  $('.overlay').fadeOut();
  $('.new-entry').fadeOut();
});

$('.overlay').click(function(){
  $('.overlay').fadeOut();
  $('.new-entry').fadeOut();
});

function d() {
  var today = new Date();
  today.setDate(today.getDate());
  var yyyy = today.getFullYear();
  var mm = ("0"+(today.getMonth()+1)).slice(-2);
  var dd = ("0"+today.getDate()).slice(-2);
  document.getElementById("today").innerHTML=yyyy+'年 '+mm+'月'+dd+'日';
  $("#post-date").val(yyyy+'/'+mm+'/'+dd);
}
d();

$(".cal1").gDatePicker({
  //表示形式
  date_format : 'Y年 m月d日',
  //カレンダー開くとき
  onOpen:function(dp){
    return $("#today",dp.parent()).html();
  },
  //カレンダー選択後
  onSelect:function(v,year,month,day,dp){
    $("#today",dp.parent()).html(v);
    $("#post-date").val(year+'/'+month+'/'+day);
  }
});

$(".cal2").gDatePicker({
  //表示形式
  date_format : 'Ymd',
  //カレンダー選択後
  onSelect:function(v,year,month,day,dp){
    window.location.href = '/posts/note' + '?date=' + v;
  }
});




$('.tab li').click(function(){
  const index = $('.tab li').index(this);
  $('.tab li').removeClass('entry-active');
  $(this).addClass('entry-active');
  if(index == 0){
    $('.tab-1').addClass('hide');
    $('.tab-0').removeClass('hide');
  } else {
    $('.tab-0').addClass('hide');
    $('.tab-1').removeClass('hide');
  }
});

$("ul.menu li").hover(function(){
    $(">ul:not(:animated)",this).slideDown("fast");
  },function(){
    $(">ul",this).slideUp("fast");
});
</script>