<%= render 'header' %>

<div class="container">

  <!-- 棒グラフ -->
  <canvas id="cv1" height="560" width="1140"></canvas>
  
  <!-- 各月のデータ -->
  <div class="months-wrapper">
    <div class="month-index">
      <h3>収入</h3>
      <h3>支出</h3>
      <h3>収支</h3>
    </div>
    <% 6.times do |i| %>
      <div class="month">
        <h3 class="blue"><%= @each_month_data[-i-1][:sousyunyu] %>円</h3>
        <h3 class="red"><%= @each_month_data[-i-1][:sousisyutu] %>円</h3>
        <h3><%= @each_month_data[-i-1][:sousyunyu] - @each_month_data[-i-1][:sousisyutu] %>円</h3>
        <%= link_to "#{@baseday.prev_month(5-i).month}月詳細へ", "/posts/month?date=#{@baseday.prev_month(5-i)}" %>
      </div>
    <% end %>
  </div>
</div>


<script>
  $('.header-tab li').removeClass("active");
  $('.header-tab li').eq(1).addClass("active");

  var ctx = document.getElementById('cv1').getContext('2d');
  var cate_labels = [["食費", "blue"] ,["日用品", "lime"], ["衣服・美容費","yellow"], ["娯楽費", "pink"], ["交通費", "aqua"], ["教養費", "fuchsia"], 
                      ["医療費", "olive"], ["交際費", "navy"], ["その他", "silver"], ["特別支出", "red"], ["住居費", "green"], ["電気代", "maroon"], 
                      ["ガス代", "fuchsia"], ["水道代", "blue"], ["通信・電話代", "purple"], ["携帯電話代", "teal"]]
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [
        <% 6.times do |month_num| %>
          '<%= @baseday.prev_month(5-month_num).month %>月',
        <% end %>
      ],
      datasets: [
        <% @labels.each_with_index do |label, label_num| %>
          {
            label: cate_labels[<%= label_num %>][0],
            data: [
              <% 6.times do |month_num| %>
                <%= @each_month_data[-month_num-1][@category2[label_num]] %>,
              <% end %>
              ],
            backgroundColor: cate_labels[<%= label_num %>][1]
          },
        <% end %>
      ]
    },
    options: {
      responsive: false,
      scales: {
        xAxes: [{
          stacked: true,
          ticks: {
            fontSize: 20
          }
        }],
        yAxes: [{stacked: true}]
      },
      legend: {
        labels: {
          fontSize: 16,
          boxWidth: 55
        }
      }
    }
  });
</script>